/*`游游游游游universal tag started */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
  scroll-behavior: smooth;
}

/*`游游游游游 universal tag ended */

/*`游游游游游 fonts package started */
@font-face {
  font-family: Bahnschrift;
  src: url(fonts/BAHNSCHRIFT.TTF), url(fonts/BAHNSCHRIFT1.TTF),
    url(fonts/BAHNSCHRIFT2.TTF), url(fonts/BAHNSCHRIFT3.TTF),
    url(fonts/BAHNSCHRIFT4.TTF), url(fonts/BAHNSCHRIFT5.TTF),
    url(fonts/BAHNSCHRIFT6.TTF), url(fonts/BAHNSCHRIFT7.TTF),
    url(fonts/BAHNSCHRIFT8.TTF), url(fonts/BAHNSCHRIFT9.TTF),
    url(fonts/BAHNSCHRIFT10.TTF), url(fonts/BAHNSCHRIFT11.TTF),
    url(fonts/BAHNSCHRIFT12.TTF), url(fonts/BAHNSCHRIFT13.TTF),
    url(fonts/BAHNSCHRIFT14.TTF);
}
/*`游游游游游 fonts package ended */

/*`游游游游游 css started */

/*`游游游游游 header css started */

body a {
  text-decoration: none;
  color: white;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*`游游游游游 box 1 css started*/
.nav-logo {
  height: 50px;
  width: 113px;
  display: flex;
  position: relative;
}

.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

.border:hover {
  border-radius: 2px;
  border: 1.5px solid white;
}
/*?游游游游游box 1 css ended**/

/*`游游游游游box 2 css started**/

.nav-address {
  padding: 10px 3px 10px 4px;
}

.add-first {
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 15px;
}

.add-second {
  font-size: 1rem;
  color: #ffffff;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}
/*?游游游游游box 2 css ended **/

/*`游游游游游box 3 css started **/

.nav-search {
  width: 800px;
  height: 40px;
  border-radius: 4px;

  display: flex;
  justify-content: space-evenly;
}

.nav-search:hover {
  border: 2px solid #ff9900;
  border-radius: 7px;
}

.search-select {
  background-color: #f3f3f3;
  border-radius: 4px 0px 0px 4px;
  border: none;
  width: 50px;
  padding-left: 5px;
  text-align: center;
  cursor: pointer;
}

.search-select:hover {
  background-color: #b9b9b9;
}

.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding-left: 7px;
}

.search-icon {
  width: 45px;
  font-size: 1.2rem;
  background-color: #ffb94f;
  border-radius: 0px 4px 4px 0px;
  color: #0f1111;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon:hover {
  background-color: #ff9900;
}
/*?游游游游游box 3 css ended **/

/*`游游游游游box 4 css started**/

.signin {
  padding: 10px 3px 10px 4px;
}

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
/*?游游游游游box 4 css ended**/

/*`游游游游游box 5 css stated **/
.nav-return {
  padding: 10px 3px 10px 4px;
}
/*?游游游游游box 5 css ended **/

/*`游游游游游box 6 css started**/

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  padding: 10px 3px 10px 4px;
  font-size: 0.85rem;
  font-weight: 700;
}
/*?游游游游游box 6 css ended**/

/*`游游游땕游땕游땕游땕started panel styling */

.panel {
  background-color: #222f3d;
  height: 39px;
  width: 100%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-all {
  padding: 8px 3px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
}

.panel-all i {
  padding-right: 4px;
}

.panel-ops {
  width: 90%;
}

.panel-ops p {
  padding: 10px 3px 10px 4px;
  margin: 5px;
  display: inline;
  color: white;
}

/*`游游游游游ended panel styling */

/** header css ended */

/*` 游때游때游때游때Hero section css started游때游때游때游때 */

.hero-section {
  background-image: url(images/hero-image2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  transition: 0.7s;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-section:hover {
  background-image: url(images/hero-image3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400 px;
  width: 100%;

  display: flex;
}

.hero-msg {
  background-color: white;
  height: 40px;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/*? 游땪游땪游땪游땪Hero section css ended游땪游땪游땪游땪 */

/*` 游때游때游때游때shop section css started游때游때游때游때 */

.shop-section {
  background-color: #e2e2e2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  /* border: 1px solid black; */
  background-color: white;
  height: 400px;
  width: 23%;
  margin-top: 25px;
  padding: 20px 0 15px;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
}

.box-content p {
  display: block;
  background-color: #37475a;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
/*? 游땪游땪游땪游땪shop section css ended */

/*` footer css started */

footer {
  margin-top: 15px;
}

.foot-panel1 {
  background-color: #37475a;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

ul {
  margin-top: 50px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  color: #dddddd;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.7s;
}

ul a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.foot-panel3 {
  border-top: 0.8px solid white;
  background-color: #222f3d;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pages a {
  margin-left: 10px;
  transition: 0.7s;
  font-size: 0.7rem;
}

.pages a:hover {
  margin-left: 10px;
  text-decoration: underline;
}
/*? footer css ended */

/*todo css closed */

/*` started media */
@media screen and (max-width: 1025px) {
  .nav-search {
    width: 600px;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 400px;
    width: 32%;
  }
  .foot-panel2 {
    height: 700px;
  }
}
@media screen and (max-width: 1201px) {
  .nav-search {
    width: 500px;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 400px;
    width: 32%;
  }
  .foot-panel2 {
    height: 700px;
  }
}
@media screen and (max-width: 850px) {
  .nav-search {
    width: 300px;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 400px;
    width: 45%;
  }
  .foot-panel2 {
    height: 300px;
  }
}

@media screen and (max-width: 769px) {
  .navbar {
    height: 150px;
    flex-wrap: wrap;
  }
  .nav-search {
    width: 400px;
    order: 3;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 400px;
    width: 45%;
  }

  .box-content h2 {
    font-size: 18px;
  }
  .foot-panel2 {
    height: 700px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    height: 150px;
    flex-wrap: wrap;
  }
  .nav-search {
    width: 400px;
    order: 3;
  }

  .panel {
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
  }

  .panel-all {
    padding: 8px 3px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
  }

  .panel-ops {
    width: 80%;
    height: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-msg {
    background-color: white;
    height: 60px;
    width: 80%;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 430px;
    width: 95%;
  }
  .foot-panel2 {
    height: 900px;
  }
}
@media screen and (max-width: 320px) {
  .navbar {
    height: 150px;
    flex-wrap: wrap;
  }
  .nav-search {
    width: 400px;
    order: 3;
  }

  .panel {
    background-color: #222f3d;
    height: 39px;
    width: 100%;
    color: white;

    display: flex;
  }

  .hero-msg {
    background-color: white;
    height: 80px;
    width: 80%;
  }

  .box {
    /* border: 1px solid black; */
    background-color: white;
    height: 400px;
    width: 55%;
  }
  .foot-panel2 {
    height: 800px;
  }
}
/*? started media */
